<html>
<link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/6/62/Red-shouldered_Hawk_%28Buteo_lineatus%29_-_Blue_Cypress_Lake%2C_Florida.jpg"/>
  <head>
    <title>SkyHawk</title>
  </head>
  <p>
  <!-- <center> -->
    <iframe src="<%=url%>" scrolling="no" width="1450"
      height="925" style="position: absolute; top: -275px; margin-right: -1100px; height: 1250px;"/>
  <!-- </center> -->
</hmtl>
