<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/6/62/Red-shouldered_Hawk_%28Buteo_lineatus%29_-_Blue_Cypress_Lake%2C_Florida.jpg"/>
  <head>
    <title>SkyHawk</title>
  </head>
  <p>
  <center> Search Here:
    <div class="alert alert-info">
    <p>
    <form action="/search" method="get">
       <label for="airline">Airline:</label>
       <input type="text" name="airline"><br>
       <p>
       <label for="origin">Origin:</label>
       <input type="text" name="origin"><br>
       <p>
       <label for="destination">Destination:</label>
       <input type="text" name="destination"><br>
       <p>
       <label for="Flight Number">Confirmation:</label>
       <input type="text" name="confirmation"><br>
       <p>
       <button>Search</button>
     </div>
    </form>
  </center>
</hmtl>
